* {
    box-sizing: border-box;
  }
  body{
    background-image: url(../image/stardewwallpaper.jpg);
    background-attachment: fixed;
    font-family:'Mitr', sans-serif;
    margin: 0 ;
  }
  h1#contact{
    color: white;
    background-color: #3f5bae;
    box-sizing: border-box;
    padding: 12px 14px;

  }
  img#logo_small{
    float: right;
  }
  p#topic{
    background-color: #feeb10;
    padding: 50px;
    font-weight: bold;
    background-size:auto;
    color: #000000 ;
  }

  ul {
    list-style-type: none;
    margin : 0;
    padding : 0;
    overflow : hidden;
    background-color : #feeb10;
  }
  li {
    float: left;
    border-right:1px solid #feeb10;
  }

  li:last-child {
    border-right: none;
  }

  li a {
    font-weight: bold;
    display: block;
    color: #000000;
    font-size: large;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
      background-color: #3f5bae;
      color: #fff;
  }

  .active {
       background-color: #82a6e0;
       color: #fff;
  }
  /* Style the header */
  .header {
    background-color: #3f5bae;
    text-align: center;
  }
  .header#contact {
    background-color: #3f5bae;
    text-align: right;
  }

  .topnavigator a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 1.5em;
  }
  #mainpagenavigator{
    margin-left: 500px;
  }
  .bottomnavigator a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 1.5em;
  }

.row:after {
content: "";
display: table;
clear: both;
}
div.gallery {
margin: 5px;
border: 1px solid #ccc;
float: left;
width: 480px;
transition: width 1.5s;
border-radius: 20px;
}

div.gallery:hover {
border: 5px solid #82a6e0  ;
background-color: #feeb10;
opacity: 0.8;
width: 490px;
}

div.gallery img {
width: 100%;
height: auto;
border-radius: 20px 20px 0px 0px;
}

div.desc {
padding: 15px;
text-align: center;
font-weight: bold;
background-color: white;
border-radius: 0px 0px 20px 20px;
}
.content{
color: black;
text-align: center;
background-color:#feeb10 ;
padding: 4px;
}
#game-imply {
padding: 100px ;
background-size:auto;
color: #feeb10 ;
text-shadow: 2px 2px  black;
font-size: 4em;
text-align: center;
}
#game-mean {
/*background: url(../image/stardew.png) left top no-repeat ;*/
background-color: #82a6e0;
padding: 70px;
background-size:auto;
color: #000000 ;
border: 5px solid #3f5bae  ;
opacity: .9;
width: 90%;
border-radius: 20px;
margin-left: 100px;
margin-bottom: 50px;
}
.info{
color: black;
text-align: center;
padding: 4px;
margin-bottom : 350px;
}
.content{
color: black;
text-align: center;
background-color:#feeb10 ;
padding: 4px;
border: 5px solid #3f5bae  ;
margin-bottom : 25px;
}
.button {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 24px;
margin: 4px 2px;
cursor: pointer;
font-family:'Mitr', sans-serif;
border-radius: 4px;
transition: all 0.5s;
}

.button1 {width: 49.5%;}
.button2 {width: 49.5%;}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.button span.previous:after {
content: '\00ab';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}

table{
background-color: white;
border: 3px solid black;

}
tr{
border: 3px solid black;
padding: 5px;
}
th{
border: 3px solid black;
padding: 5px;
}
td{
border: 3px solid black;
padding: 5px;
}
th#caption{
background-color: #feeb10;
padding: 20px;
font-size: 40px;
}
th#pc{
background-color: rgb(255, 238, 0);
}
.pc{
background-color: rgb(251, 255, 5);
font-size: 1.3em;
padding: 30px;
}
th#mobile{
background-color: #76bbfc;
}
.mobile{
background-color: #c9e4fe;
font-size: 1.3em;
padding: 30px;
}
th#console{
background-color: rgb(255, 160, 176);
}
.console{
background-color: rgba(255, 214, 221, 0.979);
font-size: 1.3em;
padding: 30px;
}

th#caption{
background-color: #c9e4fe;
padding: 20px;
font-size: 40px;
}
th#foottable{
background-color: #c9e4fe;
padding: 20px;
font-size: 40px;
}

.table2 {
margin: 20px 0px 20px 0px;
border-collapse: collapse;
border-spacing: 0;
width: 100%;
border: 1px solid #ae943f;
}
.th2devicegame{
text-align: center;
padding: 16px;
background-color: rgb(250, 212, 44);
}
.th2pc{
text-align: center;
padding: 16px;
background-color: #feeb10;
}
.td2pc {
text-align: center;
padding: 16px;
background-color: rgb(251, 255, 5);
}
.th2console{
text-align: center;
padding: 16px;
background-color: rgb(255, 160, 176);
}
.td2console {
text-align: center;
padding: 16px;
background-color: rgba(255, 214, 221, 0.979);
}
.th2cloud{
text-align: center;
padding: 16px;
background-color: rgb(70, 160, 70);
}
.td2cloud {
text-align: center;
padding: 16px;
background-color: rgb(152, 230, 159);
}
.th2mobile{
text-align: center;
padding: 16px;
background-color: #62b2fc;
}
.td2mobile {
text-align: center;
padding: 16px;
background-color: #9aceff;
}

.th2, .td2 {
text-align: center;
padding: 16px;
}

.th2:first-child, td2:first-child {
text-align: left;
}

.tr2:nth-child(even) {
background-color: #f2f2f2
}

.fa-check {
color: green;
text-align: center;
}

.fa-remove {
color: red;
text-align: center;
}
a{
text-decoration: none;
}
img{
border-radius: 20px;
}
#topbarimage{
margin: 30px 30px 30px 30px;
width: 95%;
border-radius: 20px;
}
.riot{
text-align: center;
padding: 3px 10px 3px ;
background-color: #e55f2f;
border-radius: 20px;
color: white;
}
.ubisoft{
text-align: center;
padding: 3px 10px 3px ;
background-color: rgb(38, 174, 252);
border-radius: 20px;
color: white;
}
.steam{
text-align: center;
padding: 3px 10px 3px ;
background-color: #1b2838;
border-radius: 20px;
color: white;

}
.ios {
text-align: center;
padding: 3px 10px 3px ;
background-color: #045d75;
border-radius: 20px;
color: white;
margin-right: -3px;
}
.android {
text-align: center;
padding: 3px 10px 3px ;
background-color: #93e42ae0;
border-radius: 20px;
color: white;
}
.switch {
text-align: center;
padding: 3px 10px 3px ;
background-color: #e7167f;
border-radius: 20px;
color: white;
}
.ps4 {
text-align: center;
padding: 3px 10px 3px ;
background-color: #153ff7;
border-radius: 20px;
color: white;
}